@font-face {
  font-family: 'openSansHebrewLight';
  src: url("../../assets/fonts/OpenSansHebrew-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'openSansHebrew';
  src: url("../../assets/fonts/OpenSansHebrew-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'openSansHebrew';
  src: url("../../assets/fonts/OpenSansHebrew-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'openSansHebrew';
  src: url("../../assets/fonts/OpenSansHebrew-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.checkbox-container {
  position: relative;
  height: 25px;
  width: 25px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #00aeef;
  border-radius: 5px;
  display: flex; }

.checkbox-container .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  height: 15px;
  width: 15px;
  border-radius: 8px;
  margin: auto; }

.checkbox-container .checkbox:checked ~ .checkmark {
  background-color: #00aeef; }

.text-input-container {
  position: relative;
  margin-bottom: 15px;
  width: 90%; }
  .text-input-container .text-input:focus ~ .floating-label,
  .text-input-container .text-input:not(:focus):valid ~ .floating-label {
    top: -5px;
    right: 15px;
    font-size: 14px;
    opacity: 1;
    color: #00aeef; }
  .text-input-container .text-input {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    font-size: 16px;
    border: solid 2px #aaaaaa;
    background-color: white;
    padding: 0 15px;
    appearance: none;
    -webkit-appearance: none; }
    .text-input-container .text-input:focus {
      border: solid 2px #00aeef; }
  .text-input-container .down-arrow-icon {
    position: absolute;
    left: 15px;
    top: 20px;
    width: 20px; }
  .text-input-container .floating-label {
    position: absolute;
    pointer-events: none;
    font-size: 16px;
    right: 15px;
    top: 15px;
    border-radius: 5px;
    background-color: white;
    transition: 0.2s ease all;
    padding: 0 4px 0px 8px; }

.submit {
  height: 45px;
  font-weight: bold;
  border-radius: 5px;
  background-image: linear-gradient(to top, #029bd4, #00aeef);
  color: white;
  cursor: pointer; }

.main-content-images {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  padding: 0px 10%;
  margin-bottom: 40px;
  margin-top: 80px;
  grid-template-areas: "longPic pic1 widePic widePic" "longPic pic4 pic3 pic2 "; }
  .main-content-images .flip-card {
    background-color: transparent;
    perspective: 1000px;
    height: 100%; }
    .main-content-images .flip-card:nth-child(1) {
      grid-area: longPic; }
    .main-content-images .flip-card:nth-child(2) {
      grid-area: pic1; }
    .main-content-images .flip-card:nth-child(3) {
      grid-area: widePic; }
    .main-content-images .flip-card:nth-child(4) {
      grid-area: pic2; }
    .main-content-images .flip-card:nth-child(5) {
      grid-area: pic3; }
    .main-content-images .flip-card:nth-child(6) {
      grid-area: pic4; }
    .main-content-images .flip-card:hover .card {
      transform: rotateY(180deg); }
    .main-content-images .flip-card .card {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
      .main-content-images .flip-card .card .card-front {
        background-color: #bbb;
        color: black; }
        .main-content-images .flip-card .card .card-front .content-image {
          width: 100%;
          height: 100%; }
      .main-content-images .flip-card .card .card-back {
        background-color: #2980b9;
        transform: rotateY(180deg);
        color: white;
        text-align: right; }
        .main-content-images .flip-card .card .card-back .back-title {
          font-size: 36px;
          margin-top: 20px;
          padding: 0px 10%; }
        .main-content-images .flip-card .card .card-back .back-caption {
          font-size: 16px;
          font-weight: bold;
          margin-top: 10px;
          padding: 0px 10%; }
        .main-content-images .flip-card .card .card-back .back-description {
          font-size: 16px;
          margin-top: 12px;
          padding: 0px 10%; }
        .main-content-images .flip-card .card .card-back .back-date {
          font-size: 16px;
          font-weight: bold;
          margin-top: 12px;
          padding: 0px 10%; }
      .main-content-images .flip-card .card .card-front, .main-content-images .flip-card .card .card-back {
        width: 100%;
        position: absolute;
        height: 100%;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center; }

.mobile-banner-container {
  position: relative; }
  .mobile-banner-container .mobile-banner-image {
    width: 100%;
    height: 300px; }
  .mobile-banner-container .mobile-banner-title {
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: white; }
  .mobile-banner-container .mobile-banner-caption {
    font-size: 12px;
    position: absolute;
    font-weight: bold;
    bottom: 5%;
    right: 5%;
    color: white; }

.banner {
  position: relative;
  color: white; }
  .banner .banner-image {
    width: 100%;
    height: 450px; }
  .banner .banner-title {
    position: absolute;
    left: 32%;
    top: 5%;
    font-size: 30px;
    font-weight: 800; }
  .banner .banner-caption {
    position: absolute;
    left: 30%;
    top: 10%;
    margin-top: 20px;
    font-size: 60px;
    font-weight: bold; }

.desktop {
  display: block; }

.mobile {
  display: none; }

.view-more {
  text-align: center;
  font-size: 17.5px;
  border-radius: 5px;
  color: #333333;
  border: solid 1px #333333;
  background-color: white;
  padding: 12px 70px;
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  .desktop {
    display: none; }

  .mobile {
    display: block; }

  .banner {
    margin-top: 130px; }
    .banner .banner-image {
      height: 300px; }
    .banner .banner-title {
      right: 5%;
      bottom: 20%;
      left: unset;
      top: unset;
      font-size: 19px; }
    .banner .banner-caption {
      right: 5%;
      bottom: 5%;
      left: unset;
      top: unset;
      font-size: 38px; } }
.slider-container {
  padding: 5% 10%; }
  .slider-container .slider-container-title {
    padding: 5% 11% 1% 12%;
    font-size: 36px;
    color: #333333; }
  .slider-container .glider-wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    .slider-container .glider-wrapper .glider-next {
      right: -50px;
      top: 50%; }
      .slider-container .glider-wrapper .glider-next .arrow-next {
        filter: brightness(0.5);
        width: 35px; }
    .slider-container .glider-wrapper .glider-prev {
      left: -50px;
      top: 50%; }
      .slider-container .glider-wrapper .glider-prev .arrow-prev {
        width: 35px;
        filter: brightness(0.5);
        transform: rotate(180deg); }

.mobile-event-cards {
  display: flex;
  flex-direction: column; }
  .mobile-event-cards .mobile-event-cards-title {
    font-size: 24.5px;
    font-weight: 800;
    color: #333333;
    margin: 70px 65px;
    text-align: center; }

/*# sourceMappingURL=bottom-slider.css.map */
